* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  /* box size border-box ensures that padding and border are included in the element's total width and height */
}

:root {
  --primary-color: #ff7426;
  --secondary-color: #0077b6;
  --text-color: #646464;
  --background-color: #f8f9fa;
  --defult-text-color: #000000;
  --footer-background-color: #000000;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5em;
}

/*----------- header ------------------*/

header {
  padding: 18px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 0.9em;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-logo img {
  height: 35px;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: 1em; /* 16px * 1.1 = 19.2px */
}
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  color: #646464;
}
.header-button {
  display: flex;

  align-items: center;
  gap: 60px;
}
.register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  padding: 5px 12px;
  background-color: var(--secondary-color);
  font-weight: bold;
  color: white;
  transition: all 0.3s ease-in-out;
}
.register-btn:hover {
  background-color: #021f38;
  cursor: pointer;
}

a svg {
  width: 10px;
  height: 10px;
  fill: #646464;
  margin-left: 5px;
}
.nav-event {
  position: relative;
}
.dropdown {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: -27px;
  top: 23px;
  z-index: 1;
}
.dropdown ul {
  flex-direction: column;
  align-items: center;
  gap: 0;
  font-size: 0.9rem;
  font-weight: 600;
}
.dropdown ul li {
  padding: 10px 25px;
  width: 115px;
}
.dropdown ul li:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}
.hidden {
  display: none;
}

/*----------- hero ------------------*/
.hero {
  display: flex;
  gap: 30px;
  align-items: center;

  padding: 0 30px;
}
.hero-descriptions {
  width: 52%;
}
.hero-descriptions-ad {
  font-size: 0.9em;
  color: rgb(158, 157, 157);
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 36px 0px;
}
.hero-descriptions-header {
  font-size: 2.5em;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 1.2em;
  margin-bottom: 20px;
}
.hero-descriptions-header span {
  color: var(--defult-text-color);
  display: block;
}
.hero-descriptions-subheader {
  font-size: 0.9em;
  color: var(--text-color);
  line-height: 1.6em;
  margin-bottom: 30px;
}

.hero-descriptions-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
.hero-descriptions-button {
  width: 160px;
  height: 45px;
  border: none;
  border-radius: 6px;

  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.hero-descriptions-button-enroll {
  border: 1px solid var(--primary-color);
  background-color: white;
}

.hero-descriptions-button-courses {
  background-color: var(--secondary-color);
  color: white;
}

.hero-descriptions-button:hover {
  background-color: #e65c00;
  color: white;
}
.hero-descriptions-achivement {
  display: flex;
  gap: 40px;
}
.hero-descriptions-achivement-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.hero-descriptions-achivement-item-number {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--defult-text-color);
}
.hero-descriptions-achivement-item-label {
  font-size: 0.9em;
  font-weight: 400;
  color: var(--text-color);
}

.main-hero-wave-svg svg {
  width: 100%;
  height: auto;
  fill: var(--secondary-color);
  position: relative;
  opacity: 0.4;
  transform: rotate(180deg);
  bottom: 45px;
  z-index: 0;
}

/*----------- hero image ------------------*/
.hero-img {
  width: 48%;
  height: 320px;
  position: relative;
  background-image: url("https://letslearn.asia/wp-content/uploads/2025/10/ITtraininginstituteinnepal.webp");
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}
.hero-img-ads {
  position: absolute;
  background-color: white;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 0.9em;
}
.hero-img-ads div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-img-ads-left {
  top: 25px;
  left: -104px;
}
.hero-img-ads-right {
  top: -71px;
  flex-direction: column;
  right: -25px;
}

.hero-img-ads-bottom {
  bottom: -63px;
  right: 48px;
  width: 123px;
  flex-direction: column;
}
.hero-img-ads-number {
  font-weight: 700;
  color: var(--defult-text-color);
}

/* footer */
footer {
  background-color: var(--footer-background-color);
  color: white;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-logo img {
  height: 40px;
}
.footer-info-all {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.footer-dec {
  font-size: 0.9em;
  color: #d3d3d3;
  line-height: 1.6em;
  margin-bottom: 20px;
}
.footer-socials {
  display: flex;
  gap: 15px;
}
.footer-socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.footer-socials a i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-socials a svg {
  width: 20px;
  margin: 0;
  height: 20px;
  fill: transparent;
}
.fa-instagram {
  background-color: #e4405f;
}
.fa-facebook-f {
  background-color: #3b5998;
}
.fa-twitter {
  background-color: #55acee;
}
